<a href="https://colab.research.google.com/github/SatyaHemesh/Machine-Learning-Lab-/blob/main/ML_Exp_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#3 Study of python Libraries for ML Application such as Pandas and Matplotlib
import pandas as pd

# Create a simple dataset
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "Salary": [50000, 60000, 70000]
}

# Convert dictionary to DataFrame
df = pd.DataFrame(data)

# Display the first few rows
print(df.head())

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

In [4]:
 import pandas as pd
 df = pd.DataFrame(
       {
            "Name": [
                "Braund, Mr. Owen Harris",
               "Allen, Mr. William Henry",
               "Bonnell, Miss. Elizabeth",
           ],
           "Age": [22, 35, 58],
           "gender": ["male", "male", "female"],
        }
    )


 df

                       Name  Age  gender
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [5]:
df['Age']

0    22
1    35
2    58
Name: Age, dtype: int64

In [6]:
df['Age'].max()

58

In [7]:
#some basic statistics of the numerical data of my data table
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000

In [11]:
import pandas as pd
titanic = pd.read_csv("titanic.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'titanic.csv'

In [10]:
titanic

NameError: name 'titanic' is not defined

In [ ]:
titanic.head()  # First 5 rows
titanic.tail()  # Last 5 rows
titanic.info()  # Dataset information
titanic.describe()  # Summary statistics
titanic.shape  # Number of rows and columns
titanic.columns  # Column names
titanic.dtypes  # Data types of each column
titanic.isnull().sum()  # Count missing values

In [ ]:
import pandas as pd

# Load Titanic dataset
titanic = pd.read_csv("titanic.csv")

# Check Missing Values
print(titanic.isnull().sum())

In [ ]:
# Fill Age with Median
titanic['Age'].fillna(titanic['Age'].median(), inplace=True)

# Fill Fare with Mean
titanic['Fare'].fillna(titanic['Fare'].mean(), inplace=True)

In [ ]:
titanic['Age'] = titanic['Age'].fillna(titanic['Age'].median())
titanic['Fare'] = titanic['Fare'].fillna(titanic['Fare'].mean())
titanic['Embarked'] = titanic['Embarked'].fillna(titanic['Embarked'].mode()[0])
titanic['Cabin'] = titanic['Cabin'].fillna('Unknown')

In [ ]:
# Save DataFrame to CSV
titanic.to_csv('titanic_cleaned.csv', index=False)
print("Dataset Saved Successfully!")

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Load Cleaned Dataset
titanic = pd.read_csv('titanic_cleaned.csv')

# Check the first 5 rows
print(titanic.head())

In [ ]:
# Visualize Missing Values
plt.figure(figsize=(10, 6))
sns.heatmap(titanic.isnull(), cbar=False, cmap='viridis')
plt.title("Missing Values After Cleaning")
plt.show()

In [ ]:
# Convert 'Sex' to Numbers
titanic['Sex'] = titanic['Sex'].map({'male': 0, 'female': 1})

# Convert 'Embarked' to Numbers
titanic['Embarked'] = titanic['Embarked'].map({'S': 0, 'C': 1, 'Q': 2})

In [ ]:
from sklearn.model_selection import train_test_split

# Select Features and Target
X = titanic[['Age', 'Sex', 'Fare', 'Embarked']]
Y = titanic['Survived']

# Split into 80% Train and 20% Test
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

print("Training Data Size:", X_train.shape)
print("Testing Data Size:", X_test.shape)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Create Model
model = LogisticRegression()

# Train Model
model.fit(X_train, Y_train)

# Predictions
Y_pred = model.predict(X_test)

# Accuracy Score
accuracy = accuracy_score(Y_test, Y_pred)
print(f"Model Accuracy: {accuracy * 100:.2f}%")

In [ ]:
#titanic['Survived']  # Select a single column
#titanic[['Survived', 'Age', 'Fare']]  # Select multiple columns
#titanic[titanic['Survived'] == 1]
#titanic[titanic['Age'] > 30]
#titanic[(titanic['Age'] > 30) & (titanic['Survived'] == 1)]

#titanic.sort_values(by='Age', ascending=False)  # Sort by Age in descending order
#titanic.groupby('Survived').mean(numeric_only=True)  # Mean values grouped by survival
#titanic.groupby('Pclass')['Fare'].sum()  # Sum of fare per passenger class
#titanic['Pclass'].value_counts()  # Count occurrences of each passenger class

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

sns.countplot(x='Survived', data=titanic)  # Count plot of survival
#sns.boxplot(x='Pclass', y='Age', data=titanic)  # Boxplot of Age by class
#titanic['Age'].hist(bins=20)  # Histogram of Age
plt.show()

In [ ]:
# Import dependencies

import numpy as np
import pandas as pd

In [ ]:
# Import Matplotlib

import matplotlib.pyplot as plt

In [ ]:
plt.figure(figsize=(7,7))

x10 = [35, 25, 20, 20]

labels = ['Computer', 'Electronics', 'Mechanical', 'Chemical']

plt.pie(x10, labels=labels);

plt.show()

In [ ]:
data1 = np.random.randn(1000)

plt.hist(data1);

In [ ]:
data2 = [5. , 25. , 50. , 20.]

plt.bar(range(len(data2)), data2)

plt.show()

In [ ]:
data2 = [5. , 25. , 50. , 20.]

plt.barh(range(len(data2)), data2)

plt.show()

In [ ]:
data3 = np.random.randn(100)

plt.boxplot(data3)

plt.show();

In [3]:
import seaborn as sns
sns.set_style("darkgrid")  # Improves readability
sns.lmplot(x="Age", y="Fare", data=titanic, hue="Survived")

NameError: name 'titanic' is not defined